:root {
  --white  : #FFFFFF;
  --gray-300 : #d1d5db;
  --gray-400 : #9ca3af;
  --gray-500 : #6b7280;
  --gray-700 : #374151;
  --gray-800 : #1e293b;
  --gray-900 : #0f172a;

  --red     : #ad525e;
  --red-900 : #7f1d1d;
  --red-950 : #450a0a;

  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;

  --green-500 : #00875f;
  
  --gradient-gray-700-900: linear-gradient(135deg, var(--gray-700), var(--gray-800));
  --gradient-red-red-950: linear-gradient(135deg, var(--red), var(--red-950));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
}